TELEGRAM_BOT_TOKEN=
TELEGRAM_QUOTE_CHAT_ID=
TELEGRAM_ADMIN_CHAT_ID=
TELEGRAM_HR_CHAT_ID=
SUPABASE_CONNECTION_STRING=
NEXT_PUBLIC_SITE_URL=https://nguyenlieuhungphat.com
NEXT_PUBLIC_R2_ASSET_URL=
COMPANY_API_URL=
COMPANY_WEBSITE_AI_API_TOKEN=
DIALOGFLOW_CX_PROJECT_ID=hck-agent-chat-prod
DIALOGFLOW_CX_LOCATION=global
DIALOGFLOW_CX_AGENT_ID=e326abbf-77f7-4b16-996c-64408c4dd136
DIALOGFLOW_CX_AGENT_DISPLAY_NAME=Hưng Phát
DIALOGFLOW_CX_LANGUAGE_CODE=vi
GOOGLE_SERVICE_ACCOUNT_JSON=
DIALOGFLOW_SERVICE_ACCOUNT_JSON=
DIALOGFLOW_CX_SERVICE_ACCOUNT_JSON=
