TELEGRAM_BOT_TOKEN=
TELEGRAM_QUOTE_CHAT_ID=
TELEGRAM_ADMIN_CHAT_ID=
TELEGRAM_HR_CHAT_ID=
SUPABASE_CONNECTION_STRING=
NEXT_PUBLIC_SITE_URL=https://nguyenlieuhungphat.com
NEXT_PUBLIC_R2_ASSET_URL=
DIALOGFLOW_CX_PROJECT_ID=
DIALOGFLOW_CX_LOCATION=global
DIALOGFLOW_CX_AGENT_ID=291aef79-770c-4c6d-a8c8-a081206ace4e
DIALOGFLOW_CX_LANGUAGE_CODE=vi
DIALOGFLOW_SERVICE_ACCOUNT_JSON=
